## Day objectives:

- Set methods
- Dictionary
- Functions

In [2]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

### Set operations methods
- union() --> combination of both sets
- intersection() --> common elements in both sets
- difference() --> elements in first set except common elements
- symmetric_difference() --> un-common elements in both sets

In [6]:
## Adding elements to a set
# add() --> single element
# update() --> two or more elements at a time.

s = {10,2,31,4,25}
print(s)
## 'six'
s.add('six')
print(s)

{2, 4, 10, 25, 31}
{2, 4, 'six', 10, 25, 31}

In [9]:
s.update(['ten',7,8,9])
s.add((100,200,300))
print(s)

{2, (100, 200, 300), 4, 'six', 7, 8, 'ten', 10, 9, 25, 31}

In [8]:
print(s)

{2, 4, 'six', 7, 8, 'ten', 10, 9, 25, 31}

### Deletion 

- remove() --> to delete a particular element
- discard() --> to delete a particular element
- pop() --> it deletes a random element
- clear() --> it removes all the elements at a time.

In [10]:
s

{(100, 200, 300), 10, 2, 25, 31, 4, 7, 8, 9, 'six', 'ten'}

In [13]:
s.pop() # removes a random element

(100, 200, 300)

In [14]:
s

{10, 25, 31, 4, 7, 8, 9, 'six', 'ten'}

In [15]:
s.remove('six')

In [16]:
s

{10, 25, 31, 4, 7, 8, 9, 'ten'}

In [17]:
s.discard(31)

In [18]:
s

{10, 25, 4, 7, 8, 9, 'ten'}

In [19]:
s.remove(31)

KeyError: 31

In [20]:
s.discard('six')

In [21]:
s

{10, 25, 4, 7, 8, 9, 'ten'}

In [22]:
s2 = s.copy()
print(s2)

{4, 25, 7, 8, 'ten', 10, 9}

## Remaining Methods

- difference_update()
- symmetric_difference_update()
- intersection_update()
- isdisjoint()
- issubset()
- issuperset()

In [37]:
a = {1,2,3,4,5}
b = {6,7,8,1,4}
print(a.union(b))
print(a.intersection(b))
print(b.difference(a)) # b-a
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 4}
{8, 6, 7}
{1, 2, 3, 4, 5}
{1, 4, 6, 7, 8}

In [38]:
b.difference_update(a)

In [39]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{6, 7, 8}

In [40]:
a.symmetric_difference_update(b)

In [41]:
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
{6, 7, 8}

In [43]:
b.intersection_update(a)
a.intersection_update(b)
print(a)
print(b)

{8, 6, 7}
{8, 6, 7}

In [46]:
x = {4,5,6,7}
y = {7,4}
z = {1,2,3}

# isdisjoint() --> returns True if both sets are having uncommon elements.
print(x.isdisjoint(y))
print(z.isdisjoint(y))
print(x.isdisjoint(z))

False
True
True

In [48]:
print(y.issubset(x))
print(z.issubset(y))

print(x.issuperset(y))

True
False
True

## Dictionaries

- mutable datastructure in python
- we can store the data in the form of key:value pairs.
- we can delcare a dictionary by using dict() method or -    {key1:value1,key2:value2.....keyn:valuen}
- it doesn't allow duplicate keys but allows duplicate values
- by using keys we can access values

In [50]:
student = {'name':'viplav','age':34,'dob':1982,'place':'hyd'}
print(student)
d = {1:40,2:30,3:60,4:98,5:87}
print(d)

{'name': 'viplav', 'age': 34, 'dob': '18-aug-1982', 'place': 'hyd'}
{1: 40, 2: 30, 3: 60, 4: 98, 5: 87}

In [57]:
student['name']
student['place']
# roll no :4 marks
d[4]

98

In [59]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [60]:
## how can we add an item to the dictionary
student

{'name': 'viplav', 'age': 34, 'dob': '18-aug-1982', 'place': 'hyd'}

In [61]:
student['lang'] = 'hindi'
print(student)

{'name': 'viplav', 'age': 34, 'dob': '18-aug-1982', 'place': 'hyd', 'lang': 'hindi'}

In [64]:
student['place'] = 'Mumbai'
print(student)

{'name': 'viplav', 'age': 34, 'dob': '18-aug-1982', 'place': 'Mumbai', 'lang': 'hindi'}

In [65]:
student.update({'height':5.6})

In [67]:
student.update({'lang':'urdu'})

In [68]:
student

{'name': 'viplav',
 'age': 34,
 'dob': '18-aug-1982',
 'place': 'Mumbai',
 'lang': 'urdu',
 'height': 5.6}

In [69]:
student.keys()

dict_keys(['name', 'age', 'dob', 'place', 'lang', 'height'])

In [70]:
# all the values in a dictionary
student.values()

dict_values(['viplav', 34, '18-aug-1982', 'Mumbai', 'urdu', 5.6])

In [71]:
# all the items in the form of list of tuples.
student.items()

dict_items([('name', 'viplav'), ('age', 34), ('dob', '18-aug-1982'), ('place', 'Mumbai'), ('lang', 'urdu'), ('height', 5.6)])

In [75]:
student['namee']

KeyError: 'namee'

In [76]:
student.get('agee')

In [77]:
# pop() --> removes a particular item 
# popitem() --> it deletes the last item.
student.pop('height')

5.6

In [78]:
student

{'name': 'viplav',
 'age': 34,
 'dob': '18-aug-1982',
 'place': 'Mumbai',
 'lang': 'urdu'}

In [80]:
student.popitem()

('place', 'Mumbai')

In [81]:
student

{'name': 'viplav', 'age': 34, 'dob': '18-aug-1982'}

In [82]:
student.clear()

In [83]:
student

{}

In [6]:
text = '''Tips to help Stop Coronavirus: 
1 Wash your Hands Often. 
2 Cough into your Elbow.
3 Don't touch your Face.
4 Stay more than 3 feet apart.
5 Feel sick? Stay home.'''
d = {}
for i in text:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
print(d)

{'T': 1, 'i': 4, 'p': 4, 's': 5, ' ': 28, 't': 11, 'o': 14, 'h': 6, 'e': 9, 'l': 3, 'S': 3, 'C': 2, 'r': 7, 'n': 6, 'a': 9, 'v': 1, 'u': 6, ':': 1, '\n': 5, '1': 1, 'W': 1, 'y': 5, 'H': 1, 'd': 1, 'O': 1, 'f': 2, '.': 5, '2': 1, 'g': 1, 'E': 1, 'b': 1, 'w': 1, '3': 2, 'D': 1, "'": 1, 'c': 3, 'F': 2, '4': 1, 'm': 2, '5': 1, 'k': 1, '?': 1}

In [8]:
## multiplication table. 2 7
m = int(input())
n = int(input())
p = int(input())
for i in range(m,n+1):
    for j in range(1,p+1):
        print(i,'X',j,'=',i*j)

10
20
5
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100

In [ ]:
## hackearth -->
## hackerrank -->