## Day objectives

- Comments
- Variables
- Keywords
- Operators

- Comments
    - To hold paritcular lines
- Types of comments
    - Single line comment (#)
    - Multi line comment (""" code """)

In [10]:
# print('APSSDC')
"""print('Good morning')
print('name')"""
print('hello world')

hello world

## Variables

- Which is used to store values in a specific memeory location

- Rules for declaring varaibles
    - Variable should not starts with keywords
    - Variable should not starts with integers
    - Don't give spaces 
    - Variable should not starts with special symbols
    - but it starts only letters&underscore(_)
    - Variable should not starts with functions

### Data Types

- Data type specifies which type of value a variable.
- int (integers)
- float (for decimal values)
- str (for character or names)

In [11]:
n1  = 10
n1

10

In [12]:
n2 = n3 = n4 = n1 ## multi variable assingment with same value
print(n2)
print(n3)
print(n4)

10
10
10

In [13]:
a,b,c = 123,234,456 ## multi variable assignment with diff values
print(a,b,c)

123 234 456

- Keywords
    - We can call as reserved words
    - keywords cannot used as a varaiblename,function name

In [14]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
print(len(keyword.kwlist))

35

### Type casting

- Changing one kind of data type into another kind of data type

In [21]:
a = 12
type(s)

int

In [20]:
s = int(input())
type(s)

34

int

## Operators

- used to perform mathematical operations
- Arithmetic operators (+,-,*,%(Modulo division),/,//(floor division),**(power))
- Assignment operators(=,+=,-=,*=,/=)
- Comarison operators(==, !=, <, >, <=, >=)
- Logical operators (and , or , not)
- Identity operators(is, is not)
- Membership operators( in, not in)
- Bitwise operators(&,|,^,<<,>>)

In [26]:
# Arithmetic operators

a = 8
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b) ## 8**3
print(a%b)

11
5
24
2.6666666666666665
2
512
2

In [24]:
a = 2
a**3 ## 2^3

8

In [29]:
## Assignment operators

a = 10
b = 20
a += b ## a = a+b  a = 10+20
print(a)
a -= b  ## a = a-b  a = 30-20
print(a)
a *= b  ## a= 10   ## a = a*b  a = 10*20
print(a)

30
10
200

In [36]:
# Comarison operators

x = 10
y = 20
print(x == y)  ## 10 == 20
print(x < y)  ## 10<20
print(x > y)  ## 10>20
print(x <= y)  ## 10<=20  ## x = 5 y = 5 
print(x >= y) ## 10 >= 20

False
True
False
True
False

In [38]:
## Logical operators

a = 5
print(a>4 and a<5) # 5>4 and 5<5
print(a>4 or a<5)  # 5>4 and 5<5 
print(not(a>4 or a<5))

False
True
False

In [42]:
# Identity operators(is, is not)

a = 'Nandini'
b = 'nandini'
print(a is b)
print(a is not b)

False
True

In [44]:
## Membership operators(in not in)

a = 'Nandini'
print('n' in a)
print('d' not in a)

True
False

In [45]:
## Bitwise operators

a = 10  ## 1010 
b = 2   ## 0010
print(a&b)
print(a|b)
print(a^b)

2
10
8

In [46]:
a = 10  ## 1010
a<<1

20

In [47]:
## static way of programming


a = 10
b = 4
print(a+b)

14

In [50]:
## dynamic way of programming

x = int(input('enter first number: '))
y = int(input('enter second number: '))
print(x+y)

enter first number: 4
enter second number: 8
12

In [52]:
t = float(input('enter number: '))
u = float(input('enter another number: '))
t - u

enter number: 5.6
enter another number: 8.9

-3.3000000000000007

In [54]:
s = input('enter name')
print(s)
print(s+'world')
print('world'+s)
print(s*3)

enter nameHello
Hello
Helloworld
worldHello
HelloHelloHello